@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Business Manager Application</h1>
    <p>Created by <a href="https://www.instagram.com/milosbgnp/">Milos Mitrovic</a></p>
</div>
