@page  "{id:Guid}"
@model BusinesManagerWebApp.Pages.Client.EditClientModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Client</h1>

<form method="post">
    <input asp-for="Client.Id" type="hidden" />
    <div class="form-group">
        <label asp-for="Client.Name" class="control-label"></label>
        <input asp-for="Client.Name" class="form-control" />
        <span asp-validation-for="Client.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Client.Address" class="control-label"></label>
        <input asp-for="Client.Address" class="form-control" />
        <span asp-validation-for="Client.Address" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Client.City" class="control-label"></label>
        <input asp-for="Client.City" class="form-control" />
        <span asp-validation-for="Client.City" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Client.PostalCode" class="control-label"></label>
        <input asp-for="Client.PostalCode" class="form-control" />
        <span asp-validation-for="Client.PostalCode" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Client.PhoneNumber" class="control-label"></label>
        <input asp-for="Client.PhoneNumber" class="form-control" />
        <span asp-validation-for="Client.PhoneNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Client.Email" class="control-label"></label>
        <input asp-for="Client.Email" class="form-control" />
        <span asp-validation-for="Client.Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Client.PIB" class="control-label"></label>
        <input asp-for="Client.PIB" class="form-control" />
        <span asp-validation-for="Client.PIB" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Client.Note" class="control-label"></label>
        <textarea asp-for="Client.Note" class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3"></textarea>
        <span asp-validation-for="Client.Note" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>