@page "{id:Guid}"
@model BusinesManagerWebApp.Pages.Products.EditProductModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Product</h1>

<form method="post">
    <input asp-for="Product.Id" type="hidden" />
    <div class="form-group">
        <label asp-for="Product.Category" class="control-label"></label>
        <input asp-for="Product.Category" class="form-control" />
        <span asp-validation-for="Product.Category" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Product.Barcode" class="control-label"></label>
        <input asp-for="Product.Barcode" class="form-control" />
        <span asp-validation-for="Product.Barcode" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Product.SerialNumber" class="control-label"></label>
        <input asp-for="Product.SerialNumber" class="form-control" />
        <span asp-validation-for="Product.SerialNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Product.PurchasePrice" class="control-label"></label>
        <input asp-for="Product.PurchasePrice" class="form-control" />
        <span asp-validation-for="Product.PurchasePrice" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Product.SalePrice" class="control-label"></label>
        <input asp-for="Product.SalePrice" class="form-control" />
        <span asp-validation-for="Product.SalePrice" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Product.Warranty" class="control-label"></label>
        <input asp-for="Product.Warranty" class="form-control" style="float:left" />
        <span asp-validation-for="Product.Warranty" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Product.WarrantyExpirationDate" class="control-label"></label>
        <input asp-for="Product.WarrantyExpirationDate" class="form-control" />
        <span asp-validation-for="Product.WarrantyExpirationDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Product.PurchaseDate" class="control-label"></label>
        <input asp-for="Product.PurchaseDate" class="form-control" />
        <span asp-validation-for="Product.PurchaseDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Product.Quantity" class="control-label"></label>
        <input asp-for="Product.Quantity" class="form-control" />
        <span asp-validation-for="Product.Quantity" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Product.Others" class="control-label"></label>
        <input asp-for="Product.Others" class="form-control" />
        <span asp-validation-for="Product.Others" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>