@page
@model BusinesManagerWebApp.Pages.Account.RegisterModel
@{
}

<h1>Register</h1>
<h4>UserRegistrationModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Register">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserRegistrationModel.FirstName" class="control-label"></label>
                <input asp-for="UserRegistrationModel.FirstName" class="form-control" />
                <span asp-validation-for="UserRegistrationModel.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserRegistrationModel.LastName" class="control-label"></label>
                <input asp-for="UserRegistrationModel.LastName" class="form-control" />
                <span asp-validation-for="UserRegistrationModel.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserRegistrationModel.Email" class="control-label"></label>
                <input asp-for="UserRegistrationModel.Email" class="form-control" />
                <span asp-validation-for="UserRegistrationModel.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserRegistrationModel.Password" class="control-label"></label>
                <input asp-for="UserRegistrationModel.Password" class="form-control" />
                <span asp-validation-for="UserRegistrationModel.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserRegistrationModel.ConfirmPassword" class="control-label"></label>
                <input asp-for="UserRegistrationModel.ConfirmPassword" class="form-control" />
                <span asp-validation-for="UserRegistrationModel.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>