@page
@model BusinesManagerWebApp.Pages.Account.ResetPasswordModel
@{
}

<h1>ResetPassword</h1>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ResetPassModel.Password" class="control-label"></label>
                <input asp-for="ResetPassModel.Password" class="form-control" />
                <span asp-validation-for="ResetPassModel.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResetPassModel.ConfirmPassword" class="control-label"></label>
                <input asp-for="ResetPassModel.ConfirmPassword" class="form-control" />
                <span asp-validation-for="ResetPassModel.ConfirmPassword" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="ResetPassModel.Email" class="form-control" />
            <input type="hidden" asp-for="ResetPassModel.Token" class="form-control" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>